
h1{
    text-align: center;
    color: #5f4e38;
}
ul{
    padding-left: 39%;
}
h3{
 text-align: center;
   color: rgb(160, 100, 100);
}

p{

     text-align: center; 
}

.food{
    
    border-radius: 15px;
    width: 40%;
}
div{
    display: flex;
    justify-content: center;
}
body{
    background-color: #D4ECDD;
}
.fresh{
    text-align: center;
    color: rgb(160, 100, 100);
}


  
 p{
     text-align: center;
     color: rgb(114, 78, 12);
    font-weight: 900;
    display: flex;
    
  }

  ul{

margin: 0;
padding: 0;
  }
  td{
    font-weight: 900;
    display: flex;
  }